:
/* 16 nov 2016
changes line 4-32,108,302
*/

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-bold-webfont.woff2') format('woff2'), url('../fonts/montserrat-bold-webfont.woff') format('woff'), url('../fonts/montserrat-bold-webfont.ttf') format('truetype'), url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.eot');
    src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-light-webfont.woff2') format('woff2'), url('../fonts/montserrat-light-webfont.woff') format('woff'), url('../fonts/montserrat-light-webfont.ttf') format('truetype'), url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratultralight';
    src: url('../fonts/montserrat-ultralight-webfont.eot');
    src: url('../fonts/montserrat-ultralight-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-ultralight-webfont.woff2') format('woff2'), url('../fonts/montserrat-ultralight-webfont.woff') format('woff'), url('../fonts/montserrat-ultralight-webfont.ttf') format('truetype'), url('../fonts/montserrat-ultralight-webfont.svg#montserratultralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-regular-webfont.woff2') format('woff2'), url('../fonts/montserrat-regular-webfont.woff') format('woff'), url('../fonts/montserrat-regular-webfont.ttf') format('truetype'), url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jenna Sue';
    src: url('../fonts/JennaSue.eot');
    src: url('../fonts/JennaSue.eot?#iefix') format('embedded-opentype'), url('../fonts/JennaSue.woff') format('woff'), url('../fonts/JennaSue.ttf') format('truetype'), url('../fonts/JennaSue.svg#JennaSue') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'montserratultralight' !important;
    font-size: 14px !important;
    font-weight: normal;
    color: #555;
    overflow-x: hidden; 
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 0;
    font-family: 'Jenna Sue', sans-serif !important;
    color: #333;
    font-weight: normal;
    font-style: italic;
}

strong,
.strong {
    font-family: 'Jenna Sue', sans-serif !important;
    color: #333;
    font-weight: bolder !important;
    font-style: italic;
}

@media (min-width:1200px) {
    .container {
        width: 970px;
    }
}

.blog-masthead {
    background-color: #1f2533;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
}

.blog-nav {
    z-index: 2;
    position: relative;
}

.blog-nav-item {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
    text-align: center;
    font-size: 13px;
    margin: 0;
    padding: 12px;
    position: relative;
    cursor: pointer;
}

.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #5bc199;
    text-decoration: none;
}

a.blog-nav-item-right {
    float: right;
}

.blog-nav .active {
    color: #5bc199;
}

.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}

.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}

.blog-description {
    font-size: 20px;
    color: #999;
}

.blog-main {
    font-size: 18px;
    line-height: 1.5;
}

.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}

.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}

.pager {
    margin-bottom: 60px;
    text-align: left;
}

.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}

.blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.page-header h2 {
    text-align: center;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.thumb {
    width: 100px;
    height: 74px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 24%;
    margin: 4px;
    display: inline-block;
    padding: 4px;
    background: #ffffff;
}

.btn.book {
    background: #c33;
    color: #fff;
    margin-left: 135px;
}

.outContainer {
    width: 400px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.seeAllOutContainer {
    width: 550px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 200px;
}

.seeAllTitle {
    font-size: 30px;
}

.seeAllGoBack {
    text-decoration: underline !important;
    color: #337ab7 !important;
    font-weight: bold;
    font-size: larger;
}

.outUl {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.outLi {
    background-color: #fff;
    margin-bottom: 4px;
    font-size: 14px;
    float: center;
    float: none !important;
}

li.notViewed {
    background-color: antiquewhite;
    margin-bottom: 4px;
    font-size: 14px;
    float: center;
    float: none !important;
}

.outA {
    text-decoration: underline;
    color: black;
}

.outImg {
    width: 100px;
    height: 100px;
}

.row {
    padding: 5px 0px 5px 5px;
}

strong.title {
    float: left;
    padding-left: 10px;
    font-size: xx-large;
}

small.msg {
    float: left;
    padding: 8px;
    text-align: justify;
    color: #707070;
}

small.date {
    float: left;
    padding: 15px 0 0 10px;
    color: black;
}

sup.new {
    font-size: 9px;
    color: #fff;
    background-color: #c33;
    padding: 2px 4px;
    border-radius: 3px;
    font-weight: 100;
    margin-left: 5px;
}

sup.old {
    display: none;
}

#notification_count {
    display: -webkit-box;
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 10px;
    border-radius: 9px;
    position: absolute;
    margin-top: -28px;
    font-size: 11px;
}

.genre-list {
    display: inline-block;
    font-size: 9px;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
    max-height: 40px;
    overflow-y: hidden;
}

.genre-list .__rounded-box {
    display: inline-block;
    background-color: #f4f4f4;
    padding: 2px 5px;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    margin-right: 2px;
    margin-bottom: 5px;
}

.location {
    font-family: -webkit-body;
}

.card.col-md-6.bookingSummary {
    width: 693px;
    height: 304px;
}

.paymentCenter {
    text-align: center;
}

.paymentImg {
    width: 96%;
    padding: 6px
}

.paymentTable {
    margin-left: 5px;
    width: 678px;
    height: 205px;
}

tr.paymentAmount {
    background-color: bisque;
}

span.paymentPrice {
    margin-left: 5px;
}

#markAll
 {
    font-size: 11px;
    margin-top: 1%;
    margin-left: 18%;
    position: absolute;
}

.headder_footer {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 17px;
    border-top: 1px solid #dddddd;
}

.headder_footer a {
    color: #333;
}

.headder_footer a:hover {
    color: #333;
}

.headder_footer a:visited {
    background-color: #333;
}

.cross {
    position: absolute;
    right: 26px;
}

.inbox {
    overflow-y: scroll;
    height: 413px;
    width: 445px;
}

.inbox_container {
    position: absolute;
    right: 310px;
    z-index: 2;
    background: #fbf4f4;
}

.movie .row {
    background-color: #eae9e7;
}

.select-overlay {
    background-color: rgba(0, 0, 0, .81);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.blog-nav {
   z-index: 2;
   position: relative;
}
