<div ng-controller="NotifyCtrl">
    <a class='seeAllGoBack' href="#/movies">Click here to go back</a>
    <div class='seeAllOutContainer'>
        <p class="seeAllTitle">
            <font color='black'>Your notifications</font>
        </p>
        <hr>
        <div ng-repeat="i in notifications.data">
            <ul class='outUl'>
                <li id="{{i.id}}" ng-class="i.viewed==false?'notViewed':'outLi'" ng-click="markNotificationAsViewed(i)">
                    <div class="row">
                        <div class="col-md-3" ng-if="i.imgURL">
                            <a ng-href="{{i.callToAction}}" target='_blank'>
                                <img ng-src="{{i.imgURL}}" class="outImg">
                            </a>
                        </div>
                        <div class="col-md-3" ng-if="!i.imgURL">
                            <img ng-src="images/Bell-icon.png">
                        </div>
                        <div class="col-md-9">
                            <span class="cross glyphicon glyphicon-remove" ng-click="SoftDelete(notifications.data, $index, i);$event.stopPropagation();"></span>
                            <div><a ng-href="{{i.callToAction}}" target='_blank'><strong class="title">{{i.shortTxt}}</strong></a></div>
                            <div><sup ng-class="i.viewed==false?'new':'old'">New</sup></div>
                            <div><small class="msg">{{i.longTxt}}</small></div>
                            <div><small class="date">{{i.createdOn}}</small><a class="btn _more-info" ng-href="{{i.callToAction}}" target="_blank" >More Info</a></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
