<div ng-controller="NotifyCtrl">
    <div ng-include="'views/header.html'"></div>
    <div class='outContainer' ng-repeat="i in notifications.data">
        <ul class='outUl'>
            <a href="{{i.callToAction}}" target='_blank'>
            <a target='_blank'>
                <li id="{{i.id}}" class="outLi" ng-click="markNotificationAsViewed(i)">
                    <div class="row">
                        <div class="col-md-3" ng-if="i.imgURL">
                            <img ng-src="{{i.imgURL}}" class="outImg">
                        </div>
                        <div class="col-md-3" ng-if="!i.imgURL">
                            <img ng-src="images/Bell-icon.png">
                        </div>
                        <div class="col-md-9">
                            <strong class="title">{{i.shortTxt}}</strong>
                            <sup ng-class="i.viewed==false?'new':'old'">New</sup>
                            <small class="msg">{{i.longTxt}}</small>
                            <small class="date">{{i.createdOn}}</small>
                        </div>
                    </div>
                </li>
            </a>
        </ul>
    </div>
</div>
<!-- <p style="color:black">Hi Customer, Booking ID: {{responseData.arrTT[0].Booking_lngId}}. Seats: {{responseData.arrTT[0].Trans_strSeatInfo}} for {{responseData.arrET[0].Event_strTitle}} on {{responseData.arrSS[0].Session_dtmRealShow}} at {{responseData.arrTTD[0].Venue_strCode}}. Please carry your CC/DC card which was used for booking tickets.</p>  -->
